.shop-button {
    justify-content: center;
    padding: 10px;
}
  
.homepage-card-container {
    display: flex;
    margin: 20px auto 0;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}

.second-row-cards {
    justify-content: space-evenly;
}
  