.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 60px auto; 

    h2 {
        @media screen and (max-width: 800px) {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
        }
    }

    input.btn-google {
        background-color: #4285f4;
        color: white;

            &:hover {
            background-color: #357ae8;
        }     
        
        @media screen and (max-width: 800px) {
            font-size: small;
        }
    }
}