/* Custom Font */

@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Source+Sans+Pro&display=swap');

/* font-family: 'McLaren', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Charm', cursive; */

a {
  text-decoration: none;
  color: black;
}

.custom-font {
  font-family: 'McLaren', cursive;
}

/* Dry Herbs Page */

.page-title {
  padding-top: 1em;
  max-height: 10px;
  margin: auto;
}

/* Contact Page */

.contact-title {
  margin: 1em 0;
}

/* About Page */

.about-main-container {
  display: flex;
  flex-direction: column;
}

.about-title {
  text-align: center;
  padding: 1em 0 1em 0;
}

.about-text {
  width: 100%;
  font-size: 1.2em;
  line-height: 2em;
}

/* List Helper Fuction CSS */

.list-title {
  margin: 1em 0;
}

.list-name {
  line-height: 2em;
}

.list-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 /* { color: #737838; } */
 /* { color: #F8FFAB; } */
.primary { color: #BDC470; }
 /* { color: #562C78; } */
.secondary { color: #9F70C4; }