@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../assets/homepage/store-front.jpg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }
  
  .navbar-brand, .fw-light {
    font-family: 'Charm', cursive !important;
  }

  #header-text {
    color: antiquewhite;
    font-size: 2em;
  }
  
  .fa {
    color: #000;
    padding: 5px;
  }