.footer-sitemap-column {
  margin: 0 15px;
}

.skate-logo {
  max-width: 20%;
}

.row-one {
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.row-two {
  margin-left: 3px;
  justify-content: space-between;
  align-items: center;
}

.footer-icon {
  height: 50px;
  width: 50px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon {
  color: #3B5998;
}

.instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}