.shop-button {
    justify-content: center;
    padding: 10px;
}
  
.homepage-card-container {
    display: flex;
    margin: 20px auto 0;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 906px) {
        padding: 0;
        font-size: 0.7em
    }   
}

